#bg {
    background-image: url('./pay3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
label{
    font-size: 13px !important;
    //font-weight: lighter !important;
}

input{
    font-size: 14px !important;
}

th{
    font-size: 14px !important;
    background: #0a6ffd;
    color: azure;
    font-weight: bold;
}

td{
    font-size: 13px !important;
    color: black;
}

.text-warning{
    color: #0a6ffd !important;
}

.btn-warning{
    background-color: #0a6ffd !important;
    border-color: #0a6ffd !important;
    color: azure;
    font-weight: bold;
}

.h3, h4{
    font-weight: lighter !important;
}