<div class="container-fluid">
    <app-page-title title="LISTE DES INSCRIPTIONS EN ATTENTE" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div class="d-inline-block">
                                <div class="position-relative">
                                    <a *ngIf="!isSearchForm" class="btn btn-primary" id="addProject-btn"
                                        (click)="displaySearchForm(true);"><i class="fa fa-search me-1"></i> Rechercher
                                    </a>
                                    <a *ngIf="isSearchForm" class="btn btn-danger" id="addProject-btn"
                                        (click)="displaySearchForm(false);"><i class="fa fa-times me-1"></i> Fermer
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-auto">
                            <div class="text-sm-end">
                                <a class="btn btn-light" (click)="generatePDF()"><i class="fa fa-file-pdf me-1"></i> PDF
                                </a>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div *ngIf="isSearchForm" class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Recherche avancée</h5>

                                <form class="row gy-2 gx-3 align-items-center" [formGroup]="searchForm"
                                    (ngSubmit)="getListInscriptionPending()">
                                    <div class="col-sm-3">
                                        <label class="visually-hidden" for="autoSizingSelect">Raison sociale</label>
                                        <input type="text" id="social_reason" class="form-control"
                                            formControlName="social_reason" placeholder="Raison sociale" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="visually-hidden" for="autoSizingSelect">Pays</label>
                                        <select class="form-select" id="autoSizingSelect" formControlName="country_id">
                                            <option selected value="">Pays</option>
                                            <option *ngFor="let country of countries" value="{{country.id}}">
                                                {{country.name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="visually-hidden" for="autoSizingSelect">Propriétaire</label>
                                        <select class="form-select" id="autoSizingSelect" formControlName="owner">
                                            <option selected value="">Propriétaire</option>
                                            <option *ngFor="let school of inscriptionsValidated" value="{{school.id}}">
                                                {{school.owner}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label class="visually-hidden" for="autoSizingSelect">Statut</label>
                                        <select class="form-select" id="autoSizingSelect" formControlName="status">
                                            <option selected value="">Statut</option>
                                            <option value="VALIDE">VALIDE</option>
                                            <option value="ACTIF">ACTIF</option>
                                            <option value="INACTIF">INACTIF</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-1" style="margin-top: -2%;">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="bx bx-search-alt-2 font-size-16 align-middle me-2"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>

                    <div>
                        <app-my-own-loader *ngIf="isProcessing"></app-my-own-loader>
                        <div class="table-responsive">
                            <table
                                class="table table-striped align-middle table-nowrap dt-responsive nowrap w-100 table-borderless"
                                id="projectList-table">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">Raison sociale</th>
                                        <th scope="col">Pays</th>
                                        <th scope="col">Propriétaire</th>
                                        <th scope="col">Téléphone</th>
                                        <th scope="col">IFU</th>
                                        <th scope="col">Localisation</th>
                                        <th scope="col">Statut</th>
                                        <th scope="col" style="text-align: center;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="isProcessing" class="text-center">
                                        <td colspan="10">Chargement en cours. Veuillez patienter !!!</td>
                                    </tr>
                                    <tr *ngIf="inscriptionsPending?.length == 0" class="text-center">
                                        <td colspan="10">Aucune donnée trouvée !</td>
                                    </tr>
                                    <ng-container *ngIf="!isProcessing">
                                        <tr
                                            *ngFor="let data of inscriptionsPending | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                                            <td>{{i+1}}</td>
                                            <td>{{data?.social_reason}}</td>
                                            <td>{{data?.country?.name}}</td>
                                            <td>{{data?.owner}}</td>
                                            <td>{{data?.tel}}</td>
                                            <td>{{data?.ifu}}</td>
                                            <td>{{data?.location}}</td>
                                            <td>{{data?.status}}</td>

                                            <td style="width: 27%">
                                                <div class="d-flex flex-wrap gap-2">
                                                    <button
                                                        *ngIf="data?.status === 'INITIE' || data?.status === 'REJETE'"
                                                        type="button" title="Valider inscription"
                                                        (click)="confirm(data?.id, 'VALIDE')"
                                                        class="btn btn-success btn-sm">
                                                        <i class="mdi mdi-check"></i>
                                                        Valider
                                                    </button>


                                                    <button *ngIf="data?.status === 'INITIE'" type="button"
                                                        (click)="rejectInscription(rejectInscriptionModal, data)"
                                                        title="Rejeter inscription" class="btn btn-danger btn-sm">
                                                        <i class="mdi mdi-lock-remove-outline"></i>
                                                        Rejeter
                                                    </button>


                                                    <button *ngIf="data?.document" type="button"
                                                        (click)="fileApercu(viewFileModal, data)"
                                                        title="Voir la pièce jointe" class="btn btn-secondary btn-sm">
                                                        <i class="mdi mdi-file"></i>
                                                        Fichier
                                                    </button>
                                                </div>

                                            </td>

                                        </tr>
                                    </ng-container>

                                </tbody>

                            </table>
                            <div class="pagination-style">
                                <pagination-controls previousLabel="Précédent" nextLabel="Suivant"
                                    (pageChange)="p = $event"></pagination-controls>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
            <!-- end row -->
        </div>
    </div>

</div>

<ngx-ui-loader overlayColor="rgba(40, 40, 40, 0.8)" blur="0" [bgsOpacity]="3" [fgsType]="'rectangle-bounce'"
    [loaderId]="'loader-spin'" [fgsPosition]="'top-center'"></ngx-ui-loader>

<!--  View file modal -->
<ng-template #viewFileModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myViewFileModal">{{currentSchoolName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body">
        <iframe width="100%" height="600px" class="p-3" id="pdfFrame" [src]="fileUrl | url" title="Fichier"
            frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</ng-template><!-- View file modal -->



<!--  Reject modal -->
<ng-template #rejectInscriptionModal let-modal>
    <form [formGroup]="rejectForm">
        <div class="modal-header">
            <div *ngIf="isProcessing" class="position-relative spinner-border text-primary m-1 pull-right">
                <span class="sr-only pull-right">Loading...</span>
            </div>
            <h5 class="modal-title" id="myRejectModal">Rejet d'inscription de : {{currentSchoolName}}</h5>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="rejectModalRef?.hide()"></button>
        </div>

        <div class="modal-body">
            <input type="hidden" formControlName="school_id">
            <textarea formControlName="reject_reason" class="form-control" id="formControlName" cols="30" rows="10"
                style="resize: none;" placeholder="Mettre ici la raison du rejet"
                [ngClass]="{ 'is-invalid': rejectForm.get('reject_reason')?.touched && !rejectForm.get('reject_reason')?.valid }"></textarea>
            <div class="space-between-validator"
                *ngIf="rejectForm.get('reject_reason')?.touched && rejectForm.get('reject_reason').hasError('minlength')">
                <span class="required_color">La raison du rejet requiert au moins 15
                    caractères. Soyez le plus explicite possible.</span>
            </div>

            <div class="space-between-validator"
                *ngIf="rejectForm.get('reject_reason')?.touched && rejectForm.get('reject_reason').hasError('maxlength')">
                <span class="required_color">La raison du rejet requiert au plus 500
                    caractères. Soyez le plus explicite possible.</span>
            </div>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="rejectModalRef.hide()">Fermer</button>
            <button type="button" class="btn btn-danger" [disabled]="!rejectForm.valid || isProcessing"
                (click)="confirm('', 'REJETE')">Rejeter</button>
        </div>
    </form>
</ng-template><!-- Reject modal -->