APP_NAME="Scolar Plus"
APP_ENV=local
APP_KEY=base64:sHTb4hQD/ohwvKGXkdlo9pC9JQ8R3chhJYQkwfsgbnI=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=scolarpay001
DB_USERNAME=root
DB_PASSWORD=

MTN_TOKEN_URL=https://sandbox.momodeveloper.mtn.com/collection/token/
MTN_REQUEST_TOPAY=https://sandbox.momodeveloper.mtn.com/collection/v1_0/requesttopay
MTN_REQUEST_BALANCE=https://sandbox.momodeveloper.mtn.com/collection/v1_0/account/balance
CURRENCY="EUR"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=scolar-mail@coopdicpa.com
MAIL_PASSWORD="Rzj+j&O:8"
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=scolar-mail@coopdicpa.com
MAIL_FROM_NAME="${APP_NAME}"
CONTACT_MAIL=scolar-mail@coopdicpa.com 

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

ADMIN_MAIL_1=levyganiero@gmail.com
ADMIN_MAIL_2=imorousoufiane@gmail.com
ADMIN_MAIL_3=o.sebapo@gmail.com
ADMIN_MAIL_4=francisdov@gmail.com
JWT_SECRET=7bJMuV1KJ2j04AeKSBPg3j9AVvxgAqqafBhfmSOCjkT9DAfR5UUsRAHV2Umz9UF6
