<div class="container-fluid">
    <app-page-title title="Liste Apprenants : {{ classe }} | {{schoolName}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-sm">
                <div class="d-inline-block">
                  <div class="position-relative">
                    <a *ngIf="!isSearchForm" class="btn btn-primary" id="addProject-btn"
                      (click)="displaySearchForm(true);"><i class="fa fa-search me-1"></i> Rechercher
                    </a>
                    <a *ngIf="isSearchForm" class="btn btn-danger" id="addProject-btn"
                      (click)="displaySearchForm(false);"><i class="fa fa-times me-1"></i> Fermer
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-auto">
                <div>
                    <a class="btn btn-info" (click)="generatePDF()"><i class="fa fa-file-pdf me-1"></i> PDF
                    </a>
                </div>
            </div>
              <!-- end col -->
              <div class="col-sm-auto">
                <div class="text-sm-end">
                    <a class="btn btn-light"
                    (click)="navigationToList()"><i class="fa fa-arrow-left me-1"></i> Retour à la liste
                  </a>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
  
            <div *ngIf="isSearchForm" class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-4">Recherche avancée</h5>
  
                  <form class="row gy-2 gx-3 align-items-center">
                    <div class="col-sm-2">
                      <label class="visually-hidden" for="autoSizingSelect">Frais</label>
                      <select class="form-select" id="autoSizingSelect">
                        <option selected>Frais</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
  
                    <div class="col-sm-2">
                      <label class="visually-hidden" for="autoSizingSelect">Classe</label>
                      <select class="form-select" id="autoSizingSelect">
                        <option selected>Classe</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
  
                    <div class="col-sm-3">
                      <label class="visually-hidden" for="autoSizingSelect">Apprenant</label>
                      <select class="form-select" id="autoSizingSelect">
                        <option selected>Apprenant</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
  
                    <div class="col-sm-2">
                      <label class="visually-hidden" for="autoSizingSelect">Année académique</label>
                      <select class="form-select" id="autoSizingSelect">
                        <option selected>Année académique</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
  
                    <div class="col-sm-2">
                      <label class="visually-hidden" for="autoSizingSelect">Opérateur</label>
                      <select class="form-select" id="autoSizingSelect">
                        <option selected>Opérateur</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="col-sm-1" style="margin-top: -2%;">
                      <button type="button" class="btn btn-primary">
                        <i class="bx bx-search-alt-2 font-size-16 align-middle me-2"></i>
                      </button>
                    </div>
                  </form>
                </div>
                <!-- end card body -->
              </div>
              <!-- end card -->
            </div>
  
            <div>
              <app-my-own-loader *ngIf="isProcessing"></app-my-own-loader>
              <div class="row ht-2">
                <div class="col-md-12 h5">Liste des apprenants : ({{students?.length}}) </div>
            </div>
              <div class="table-responsive">
                <table ngxUiLoaderBlurred [loaderId]="'loader-spin'"
                  class="table table-striped align-middle table-nowrap dt-responsive nowrap w-100 table-borderless"
                  id="projectList-table">
                  <thead class="table-light">
                    <tr>
                      <th scope="col" style="width: 50px">#</th>
                      <th scope="col">Code Scolar</th>
                      <th scope="col">Nom</th>
                      <th scope="col">Prénom(s)</th>
                      <th scope="col">Matricule</th>
                      <th scope="col">Classe</th>
                      <th scope="col">Sexe</th>
                      <th scope="col">Année Naissance</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="isProcessing" class="text-center">
                      <td colspan="10">Chargement en cours. Veuillez patienter !!!</td>
                  </tr>
                    <tr *ngIf="students?.length == 0" class="text-center">
                      <td colspan="10">Aucune donnée trouvée !</td>
                    </tr>
                    <tr *ngFor="let student of students | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                      <td>{{i+1}}</td>
                      <td>{{student.student?.code_scolar}}</td>
                      <td>{{student.student?.last_name}}</td>
                      <td>{{student.student?.first_name}}</td>
                      <td>{{student.student?.matricule}}</td>
                      <td>{{student.classe?.classe?.code}} - {{student.classe?.groupe?.code}}</td>
                      <td>{{student.student?.sex}}</td>
                      <td>{{student.student?.birthday | date : 'dd/MM/yyyy'}}</td>
  
                      <td class="text-center">
                        <div class="d-flex gap-3 text-center">
                          <ul class="list-unstyled hstack gap-1 mb-0">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Détails">
                              <a class="btn btn-sm btn-soft-info" (click)="displayDetailsModal(detailsModal, student)"><i
                                  class="mdi mdi-eye-outline"></i></a>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
  
                </table>
                <div class="pagination-style">
                  <pagination-controls previousLabel="Précédent" nextLabel="Suivant"
                    (pageChange)="p = $event"></pagination-controls>
  
                </div>
              <ngx-ui-loader overlayColor="#ECF0F1" [bgsOpacity]="3" [fgsType]="'rectangle-bounce'" [loaderId]="'loader-spin'"></ngx-ui-loader>

              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
        <div class="row">
          <div class="col-lg-12">
  
          </div>
        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
  
  
  
  <!--Start Details Modal -->
  <ng-template #detailsModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myLargeModalLabel"> <i class="fa fa-info-circle text-info"></i> Détails Apprenant
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="">Code Scolar</label>
            <input type="text" class="form-control bg-disabled" readonly value="{{curr_student?.student?.code_scolar}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="">Nom</label>
            <input type="text" class="form-control bg-disabled" readonly value="{{curr_student.student?.last_name}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="">Prénom(s)</label>
            <input type="text" class="form-control bg-disabled" readonly value="{{curr_student.student?.first_name}}">
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="">Date de Naissance</label>
            <input type="text" class="form-control bg-disabled" readonly
              value="{{curr_student.student?.birthday | date:'dd/MM/yyy'}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="">Classe</label>
            <input type="text" class="form-control bg-disabled" readonly value="{{curr_student.classe?.code}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="">Groupe</label>
            <input type="text" class="form-control bg-disabled" readonly value="{{curr_student.student?.groupe?.code}}">
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="">Sexe</label>
            <input type="text" class="form-control bg-disabled" readonly value="{{curr_student.student?.sex}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="">Adresse mail</label>
            <input type="text" class="form-control bg-disabled" readonly value="{{curr_student.student?.email}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="">Téléphone</label>
            <input type="text" class="form-control bg-disabled" readonly value="{{curr_student.student?.phone}}">
          </div>
        </div>
  
      </div>
  
    </div>
  </ng-template>