<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-primary-subtle">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-white"> Récupération du
                                        mot de passe Scolar Plus</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="col-3 align-self-end">
                                <img src="assets/images/profile-img.png" alt
                                    class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div>
                            <a routerLink="/">
                                <div class="avatar-md profile-user-wid mb-4">
                                    <span
                                        class="avatar-title rounded-circle bg-light">
                                        <img
                                            src="assets/images/logo-scolarplus1.png"
                                            alt class="rounded-circle"
                                            height="34">
                                    </span>
                                </div>
                            </a>
                        </div>
                        <app-my-own-loader
                            *ngIf="isProcessing"></app-my-own-loader>

                        <div class="p-2">
                            <div class="alert alert-info text-center mb-4"
                                role="alert">
                                Entrez votre adresse mail et les instructions vous seront envoyées!
                            </div>

                            <form class="needs-validation"
                                [formGroup]="resetPasswordForm"
                                (ngSubmit)="onSubmit()" novalidate>

                                <!-- <alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</alert> -->

                                <div class="mb-2">
                                    <input type="email" formControlName="email"
                                         class="form-control"
                                        [ngClass]="{ 'is-invalid': resetPasswordForm.get('password')?.touched && !resetPasswordForm.get('password')?.valid }" />
                                    <div class="space-between-validator"
                                        *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email').hasError('required')">
                                        <span class="required_color">Entrer votre adresse mail.</span>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <button class="btn btn-primary w-md"
                                        [disabled]="!resetPasswordForm.valid"
                                        type="submit">Envoyer</button>
                                </div>
                            </form>
                        </div>

                    </div> <!-- end card-body-->
                </div>
                <!-- end card -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->