#bg{
    background-image: url("../../../../assets/images/scolar1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

input{
    border-color: gray !important;
}

select{
    border-color: gray !important;
}