
    <div class="row" style="padding-left: 50px !important;">
        <div class="col-md-1 ml-5 pt-2">
            <img src="assets/images/logo-scolarplus1.png" alt="" class="rounded-circle" width="54" height="54">
        </div>
        <div class="col-md-8 pt-3">
            <b class="h1 title">SCOLAR PLUS</b>
        </div>
    </div>
    <div class="checkout-tabs">
      <div class="row p-2">
        <div class="col-xl-12">
          <tabset [vertical]="true" class="flex-column nav-pills ecommerce-checkout-tab">
          
            <tab>
              <ng-template tabHeading>
                <i class="bx bx-question-mark d-block check-nav-icon mt-4 mb-2 text-warning"></i>
                <p class="fw-bold mb-4">Qu'est-ce que Scolar Plus</p>
              </ng-template>
              <!-- <ng-template ngbNavContent> -->
                <div class="card">
                  <div class="card-body">
                    <div class="fade active show" id="v-pills-gen-ques">
                      <h4 class="card-title mb-5">Comprendre le Projet Scolar Plus</h4>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15"><b>Scolar Plus</b> c'es quoi ?</h5>
                          <p class="text-muted">Il s'agit d'un projet ambitieux qui vise à faciliter et sécuriser les paiements de tout frais d'écolage ou de scolarité des 
                            apprenants de tous les cycles scolaires à savoir : <b>primaire</b>, <b>secondaire</b>, <b>technique</b> et <b>supérieur</b>. <br>
                            Avec Scolar Plus payez les scolarités, les frais de soutenances, les frais de TD, etc.</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where does it come from?</h5>
                          <p class="text-muted">Everyone realizes why a new common language would be desirable one could
                            refuse
                            to pay expensive translators.</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where can I get some?</h5>
                          <p class="text-muted">If several languages coalesce, the grammar of the resulting language is
                            more
                            simple and regular than that of the individual languages.</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Why do we use it?</h5>
                          <p class="text-muted">Their separate existence is a myth. For science, music, sport, etc, Europe
                            uses
                            the same vocabulary.</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where can I get some?</h5>
                          <p class="text-muted">To an English person, it will seem like simplified English, as a skeptical
                            Cambridge friend of mine told me what Occidental</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- </ng-template> -->
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="bx bx-check-shield d-block check-nav-icon mt-4 mb-2 text-danger"></i>
                <p class="fw-bold mb-4">Paiements de Frais</p>
              </ng-template>
                <div class="card">
                  <div class="card-body">
                    <div class="tab-pane">
                      <h4 class="card-title mb-5">Comment Payer avec Scolar Plus</h4>
  
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where does it come from?</h5>
                          <p class="text-muted">Everyone realizes why a new common language would be desirable one could
                            refuse
                            to pay expensive translators.</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where can I get some?</h5>
                          <p class="text-muted">To an English person, it will seem like simplified English, as a skeptical
                            Cambridge friend of mine told me what Occidental</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">What is Lorem Ipsum?</h5>
                          <p class="text-muted">New common language will be more simple and regular than the existing
                            European
                            languages. It will be as simple as occidental.</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Why do we use it?</h5>
                          <p class="text-muted">Their separate existence is a myth. For science, music, sport, etc, Europe
                            uses
                            the same vocabulary.</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where can I get some?</h5>
                          <p class="text-muted">If several languages coalesce, the grammar of the resulting language is
                            more
                            simple and regular than that of the individual languages.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="bx bx-support d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Support Scolar</p>
              </ng-template>
                <div class="card">
                  <div class="card-body">
                    <div class="tab-pane">
                      <h4 class="card-title mb-5">Comment Utiliser le Support Scolar</h4>
  
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where can I get some?</h5>
                          <p class="text-muted">To an English person, it will seem like simplified English, as a skeptical
                            Cambridge friend of mine told me what Occidental</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where does it come from?</h5>
                          <p class="text-muted">Everyone realizes why a new common language would be desirable one could
                            refuse
                            to pay expensive translators.</p>
                        </div>
                      </div>
  
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Why do we use it?</h5>
                          <p class="text-muted">Their separate existence is a myth. For science, music, sport, etc, Europe
                            uses
                            the same vocabulary.</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where can I get some?</h5>
                          <p class="text-muted">If several languages coalesce, the grammar of the resulting language is
                            more
                            simple and regular than that of the individual languages.</p>
                        </div>
                      </div>
  
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">What is Lorem Ipsum?</h5>
                          <p class="text-muted">New common language will be more simple and regular than the existing
                            European
                            languages. It will be as simple as occidental.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="bx bx-alarm d-block check-nav-icon mt-4 mb-2 text-success"></i>
                <p class="fw-bold mb-4">Vision et Valeurs de Scolar Plus</p>
              </ng-template>
                <div class="card">
                  <div class="card-body">
                    <div class="tab-pane">
                      <h4 class="card-title mb-5">Découvrir ce que sera Scolar Plus</h4>
  
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where can I get some?</h5>
                          <p class="text-muted">To an English person, it will seem like simplified English, as a skeptical
                            Cambridge friend of mine told me what Occidental</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where does it come from?</h5>
                          <p class="text-muted">Everyone realizes why a new common language would be desirable one could
                            refuse
                            to pay expensive translators.</p>
                        </div>
                      </div>
  
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Why do we use it?</h5>
                          <p class="text-muted">Their separate existence is a myth. For science, music, sport, etc, Europe
                            uses
                            the same vocabulary.</p>
                        </div>
                      </div>
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">Where can I get some?</h5>
                          <p class="text-muted">If several languages coalesce, the grammar of the resulting language is
                            more
                            simple and regular than that of the individual languages.</p>
                        </div>
                      </div>
  
                      <div class="faq-box d-flex mb-4">
                        <div class="flex-shrink-0 me-3 faq-icon">
                          <i class="bx bx-help-circle font-size-20 text-success"></i>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">What is Lorem Ipsum?</h5>
                          <p class="text-muted">New common language will be more simple and regular than the existing
                            European
                            languages. It will be as simple as occidental.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  