<div class="account-pages my-3">
  <br>
  <div class="container mt-1">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary-subtle">
            <div class="row">
              <div class="col-12">
                <div class="text-primary p-4">
                  <h4 class="text-white">Bienvenu sur <b class="text-gray h2">Scolar Plus!</b></h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"></div>
              <!--div class="col-8">
                <div class="text-primary p-4">
                  <h4 class="text-white">Bienvenu sur <b class="text-gray h3">Scolar Plus!</b></h4>
                  
                  <p class="text-white">Veuillez saisir vos identifiants pour accéder à votre espace.</p>
                </div>
              </div-->
              <div class="col-8 align-self-end" style="text-align: right !important; padding-right: 40px !important;">
                <img src="assets/images/users/ScolarPlusLogo_Blanc.png" style="width: 180px; height: 60px;" alt=""
                  class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-4">
                <a routerLink="/">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/images/users/user-dummy-img.jpg" alt="" class="rounded-circle" height="65px">
                    </span>
                  </div>
                </a>
              </div>
              <div class="col-8">
                <span class="text-gray font-size-12">Veuillez saisir vos identifiants pour accéder à votre
                  espace.</span>
              </div>
            </div>
            <div class="p-1">
              <app-my-own-loader *ngIf="isProcessing"></app-my-own-loader>
              <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</alert>

                <div class="mb-2">
                  <label for="email">Adresse mail <span class="text-danger">*</span></label>
                  <input type="text" formControlName="email" class="form-control input" id="email"
                    placeholder="Entrez votre login" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Adresse mail obligatoire</div>
                    <div *ngIf="f.email.errors.email">Adresse mail doit être valide</div>
                  </div>
                </div>

                <div class="mb-2">
                  <label for="password">Mot de passe <span class="text-danger">*</span></label>
                  <div class="password-input-container">
                    <input [type]="passwordType" class="form-control" formControlName="password"
                      placeholder="Entrez votre mot de passe"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" aria-label="Password"
                      aria-describedby="password-addon">
                    <i class="mdi password-toggle-icon"
                      [ngClass]="passwordType === 'password' ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
                      (click)="togglePassword()"></i>
                  </div>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <span *ngIf="f.password.errors.required">Mot de passe obligatoire</span>
                  </div>
                </div>

                <div class="mt-2 text-center">
                  <a routerLink="/recuperation-mot-de-passe" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Mot de
                    passe oublié ?</a>
                </div>

                <div class="mt-2 d-grid">
                  <button class="btn btn-primary pt-O pb-2" [disabled]="!loginForm.valid || isProcessing" type="submit">
                    Se Connecter <i class="mdi mdi-login pull-right"></i> </button>
                </div>
                <!--div class="mt-4 text-center">
                  <h5 class="font-size-14 mb-3">Sign in with</h5>

                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-primary text-white border-primary">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-info text-white border-info">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-danger text-white border-danger">
                        <i class="mdi mdi-google"></i>
                      </a>
                    </li>
                  </ul>
                </div-->
                <div class="row">
                  <div class="mt-4 col-md-6 text-center">
                    <a routerLink="/auth/inscription" class="text-muted h6" title="Devenir Partenaire.">
                      <i class="fa fa-user-plus fa-1x text-info mr-1"></i>
                      S'inscrire </a>
                  </div>
                  <div class="mt-4 col-md-6 text-center">
                    <a routerLink="/auth/paiement-scolaire" class="text-muted h6" title="Payer les frais scolaires."><i
                        class="fa fa-wallet fa-1x text-warning"></i> Paiement </a>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="mt-2 text-center">
          <!--p>Don't have an account ? <a routerLink="/account/signup" class="fw-medium text-primary"> Signup
              now
            </a> </p-->
          <p>© 2026 <b>NOVAPLUS CORPORATION</b> &nbsp; &nbsp; <a href="https://portal.scolarco.com/faqs.html"
              target="_blank" class="text-muted h5">
              <i class="mdi mdi-help-circle"></i> FAQ</a></p>
        </div>

      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end page -->