<div class="account-pages my-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary-subtle">
            <div class="row">
              <div class="col-9">
                <div class="text-primary p-4">
                  <h4 class="text-white">Bienvenu à <b class="text-gray h2">Scolar Plus !</b></h4>
                  <p class="text-white">Veuillez saisir vos identifiants.</p>
                </div>
              </div>
              <div class="col-3 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo-scolarplus1.png" alt="" class="rounded-circle" height="54">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-1">
              <app-my-own-loader *ngIf="isProcessing"></app-my-own-loader>
              <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</alert>

                <div class="mb-2">
                  <label for="email">Adresse mail</label>
                  <input type="text" formControlName="email" class="form-control input" id="email"
                    placeholder="Entrez votre login" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Adresse mail obligatoire</div>
                    <div *ngIf="f.email.errors.email">Adresse mail doit être valide</div>
                  </div>
                </div>

                <div class="mb-2">
                  <label for="password">Mot de passe</label>
                  <div class="input-group auth-pass-inputgroup">
                    <input type="password" class="form-control input" formControlName="password"
                      placeholder="Entrez votre mot de passe"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" aria-label="Password"
                      aria-describedby="password-addon">
                    <!--button class="btn btn-light ms-0" type="button" id="password-addon"><i
                        class="mdi mdi-eye-outline"></i></button-->
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <span *ngIf="f.password.errors.required">Mot de passe obligatoire</span>
                    </div>
                  </div>
                </div>
                <div class="mt-2 text-center">
                  <a routerLink="/recuperation-mot-de-passe" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Mot de
                    passe oublié ?</a>
                </div>

                <div class="mt-2 d-grid">
                  <button class="btn btn-primary" [disabled]="!loginForm.valid || isProcessing" type="submit">Se
                    Connecter</button>
                </div>
                <!--div class="mt-4 text-center">
                  <h5 class="font-size-14 mb-3">Sign in with</h5>

                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-primary text-white border-primary">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-info text-white border-info">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-danger text-white border-danger">
                        <i class="mdi mdi-google"></i>
                      </a>
                    </li>
                  </ul>
                </div-->
                <div class="row">
                  <div class="mt-4 col-md-6 text-center">
                    <a routerLink="/auth/inscription" class="text-muted h5" title="Devenir Partenaire.">
                      <i class="mdi mdi-login text-primary mr-1" ></i>
                      S'Inscrire </a>
                  </div>
                  <div class="mt-4 col-md-6 text-center">
                    <a routerLink="/auth/paiement-scolaire" class="text-muted h5" title="Payer les frais scolaires."><i
                        class="bx bx-wallet-alt text-warning"></i> Paiement </a>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="mt-5 text-center">
          <!--p>Don't have an account ? <a routerLink="/account/signup" class="fw-medium text-primary"> Signup
              now
            </a> </p-->
          <p>© {{year}} <b>SCOLAR-PLUS</b>. &nbsp; &nbsp; <a routerLink="/auth/scolar-faq" class="text-muted h5">
              Consulter la FAQ ?</a></p>
        </div>

      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end page -->