<div class="container-fluid">
    <app-page-title title="Roles et Permissions" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row" *ngIf="!isRoleForm">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div class="d-inline-block">
                                <div class="position-relative">
                                    <a *ngIf="!isSearchForm" class="btn btn-primary" id="addProject-btn"
                                        (click)="displaySearchForm(true);"><i class="fa fa-search me-1"></i> Rechercher
                                    </a>
                                    <a *ngIf="isSearchForm" class="btn btn-danger" id="addProject-btn"
                                        (click)="displaySearchForm(false);"><i class="fa fa-times me-1"></i> Fermer
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <div>

                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-auto">
                            <div class="text-sm-end">
                                <a class="btn btn-success" (click)="displayModalRole(modalRole)" id="addRole"><i
                                        class="fa fa-plus me-1"></i> Nouveau
                                </a>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div *ngIf="isSearchForm" class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Recherche avancée</h5>

                                <form class="row gy-2 gx-3 align-items-center" novalidate [formGroup]="roleSearchForm">

                                    <div class="col-sm-1" style="margin-top: -2%;">
                                        <button type="button" class="btn btn-primary"
                                            (click)="getRoles(roleSearchForm.value)">
                                            <i class="bx bx-search-alt-2 font-size-16 align-middle me-2"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>

                    <div>
                        <div class="table-responsive">
                            <table class="table table-striped align-middle dt-responsive nowrap w-100 table-borderless"
                                id="projectList-table">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Permissions</th>
                                        <th scope="col">Ecole</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="!isProcessing">
                                        <tr
                                            *ngFor="let role of roles | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                                            <td>{{i+1}}</td>
                                            <td>{{role.label}}</td>
                                            <td>
                                                <span *ngFor="let permission of role.permissions">
                                                    <span class="badge bg-primary me-2">{{ permission.label }}</span>
                                                </span>
                                            </td>
                                            <td>-</td>


                                            <td class="text-center">

                                                <div class="dropdown" dropdown placement="bottom-right">
                                                    <a href="javascript: void(0);" class="dropdown-toggle card-drop"
                                                        dropdownToggle>
                                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                                                        
                                                        <a class="dropdown-item" href="javascript: void(0);"
                                                            (click)="editRole(role)">
                                                            <i
                                                                class="mdi mdi-pencil font-size-7 text-warning align-middle me-2"></i>
                                                            Modifier
                                                        </a>
                                                        <a class="dropdown-item" href="javascript: void(0);"
                                                            (click)="confirmDeletingRole(role)">
                                                            <i
                                                                class="mdi mdi-trash-can-outline text-danger align-middle me-2"></i>
                                                            Supprimer</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>

                            </table>

                            <div class="pagination-style">
                                <pagination-controls previousLabel="Précédent" nextLabel="Suivant"
                                    (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
            <!-- end row -->
        </div>
    </div>

    <ngx-ui-loader overlayColor="rgba(40, 40, 40, 0.8)" blur="0" [bgsOpacity]="3" [fgsType]="'rectangle-bounce'"
        [loaderId]="'loader-spin'" [fgsPosition]="'top-center'"></ngx-ui-loader>

    <div class="row" *ngIf="isRoleForm">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form novalidate [formGroup]="roleForm" (ngSubmit)="saveRoles()"
                                    class="row gy-2 gx-3 align-items-center">
                                    <div class="col-9">
                                        <h5 class="mt-1 mb-1"> <i class="fa fa-users text-primary"></i> Informations du
                                            Rôle
                                        </h5>
                                    </div>
                                    <div class="col-3 text-right">
                                        <button class="btn {{ isEditing ? 'btn-warning' : 'btn-primary' }} pull-right" style="margin-right: 10%"
                                            type="submit" [disabled]="!roleForm.valid">
                                            <i class="bx bx-check"></i> {{ isEditing ? 'Modifier' : 'Enregistrer' }}
                                        </button>
                                        <button type="button" class="btn btn-danger pull-right"
                                            (click)="closeModalRole()"><i class="bx bx-x"></i> Fermer</button>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Nom<span class="required_color">*</span></label>
                                        <input type="text" id="label" class="form-control" formControlName="label"
                                            placeholder="Nom du rôle" />
                                    </div>

                                    <hr>
                                    <h5 class="mt-2 mb-2"><i class="fa fa-magic text-warning"></i> Permissions du
                                        Rôle</h5>
                                    <ng-container *ngFor="let perm of permissions; let i = index;">
                                        <div class="col-3">
                                            <input class="form-check-input" type="checkbox"
                                                [checked]="isPermissionChecked(perm.name)"
                                                (change)="checkBox($event, perm.name)">&nbsp;&nbsp;
                                            <label class="form-check-label" for="formRadio{{i}}">
                                                {{perm.label}}
                                            </label>
                                        </div>
                                    </ng-container>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>