<div class="container-fluid p-0">
    <div class="row g-0">

        <div class="col-xl-5" id="bg" style="position: fixed;">
            <div class="auth-full-bg pt-lg-5 p-1">
                <div class="w-100">
                    <!--div class="bg-overlay"></div-->
                    <div class="d-flex flex-column" style="overflow:none; height: 100%;">
                        <div class="p-1 mt-auto">
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->

        <!-- Form -->
        <div class="col-xl-7"
            style="position: absolute; right: 0; float: right; overflow: auto; background-color: white;">
            <div class="auth-full-page-content p-md-2 p-1">
                <div class="w-100">

                    <div class="d-flex flex-column h-100 p-2">
                        <div class="pt-1">
                            <a class="d-block card-logo text-secondary mt-2">
                                <span class="fa fa-wallet fa-2x"></span> <span class="h3"> &nbsp; Paiement
                                    de frais</span>
                                <span class="card-logo-light h4">&nbsp;<br> <br>| Scolar Plus</span>
                            </a>
                            <p class="text-muted" style="text-align: justify; padding: 5px;">
                                Etudiants et parents, avec Scolar Pay, vous pouvez payer tous
                                vos frais scolaires et ceux de vos enfants. Pour payer un frais scolaire,
                                vous devez rechercher l'apprenant à partir de son <b>Code Scolar</b>, sa <b>Date de
                                    naissance</b> et l'<b>Année Académique ou Scolaire</b>.
                            </p>
                        </div>

                        <div class="mt-1 md-5">
                            <div class="col-lg-12">
                                <div class="card p-3">
                                    <h5><i class="fa fa-search text-secondary"></i> Recherche apprenant</h5>
                                    <form #searchForm="ngForm" (ngSubmit)="getDataForPayment(searchForm)"
                                        class="inline-form">
                                        <div class="row mt-3">
                                            <div class="col-lg-3">
                                                <div>
                                                    <label class="form-label">Code Scolar</label>
                                                    <input class="form-control text-uppercase" type="text" ngModel
                                                        required name="code_scolar" placeholder="Code Scolar">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div>
                                                    <label class="form-label">Date de naissance</label>
                                                    <input class="form-control" type="date" id="example-date-input"
                                                        name="birthday" ngModel required
                                                        placeholder="Date de naissance de l'apprenant">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div>
                                                    <label class="form-label">Année</label>
                                                    <select class="form-select" name="academic_year" ngModel required>
                                                        <option *ngFor="let year of academic_years"
                                                            value="{{year.academic_year}}">{{year?.academic_year}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 mt-3 text-right">
                                                <div class="mt-2 text-center" style="margin-top: 12px !important;">
                                                    <button type="submit" class="btn btn-secondary waves-light"
                                                        title="Rechercher l'apprenant.." [disabled]="!searchForm.valid">
                                                        <i class="fa fa-search 2x"></i> Rechercher</button>
                                                </div>
                                            </div>
                                            <app-my-own-loader *ngIf="isProcessing"></app-my-own-loader>
                                        </div>
                                    </form>
                                    <div *ngIf="student">
                                        <h5><i class="fa fa-user-graduate text-secondary"></i> Détail de
                                            l'apprenant</h5>
                                        <table class="table table-nowrap align-middle mb-0" *ngIf="student">
                                            <tbody>
                                                <tr>
                                                    <td title="Code Scolar"> <b>{{student.code_scolar}}</b> </td>
                                                    <td title="Nom et Prénoms"> {{student.last_name}}
                                                        {{student.first_name}} </td>
                                                    <td title="Classe">
                                                        <button type="button"
                                                            class="btn btn-soft-dark  btn-rounded waves-effect waves-light">
                                                            <b>{{student_classe.classe?.classe?.code }} -
                                                                {{student_classe.classe?.groupe?.code }} </b>
                                                        </button>
                                                    </td>
                                                    <td title="Date de naissance"> {{student.birthday |
                                                        date:'dd/MM/yyyy'}} </td>
                                                    <td title="Ecole">
                                                        <button type="button"
                                                            class="btn btn-soft-dark  btn-rounded waves-effect waves-light"><b>{{student.school?.social_reason
                                                                }}</b></button>
                                                    </td>
                                                    <td title="Sexe">
                                                        <button type="button"
                                                            class="btn btn-soft-dark  btn-rounded waves-effect waves-light"><b>{{student.sex
                                                                }}</b></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class=" mt-3 mb-3" *ngIf="totalBalances > 0">
                                        <h5><i class="fa fa-wallet text-danger"></i> Paiemennt par lot</h5>
                                        <table class="table table-nowrap align-middle mb-0">
                                            <tbody>
                                                <tr>
                                                    <td class="text-left" colspan="2"> <b>Montant Total : </b> </td>
                                                    <td class="text-right" colspan="3"> <button type="button"
                                                            class="btn btn-soft-dark  btn-rounded waves-effect waves-light"><b>
                                                                {{totalBalances | currency:'XOF'}}
                                                            </b></button> </td>
                                                    <td class="text-center" colspan="2">
                                                        <button type="button" class="btn btn-soft-danger"
                                                            (click)="openPayementMultipleRowModal(multiplePaiement)"><i
                                                                class="fa fa-wallet-o"></i>
                                                            <i class="fa fa-wallet"></i> <b> Payer le Lot</b></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div *ngIf="balanceFees">
                                        <table class="table table-nowrap align-middle mb-0"
                                            style="border-radius: 15px !important;" *ngIf="balanceFees">
                                            <tbody style="border-radius: 15px !important;">
                                                <tr class="bg-warning">
                                                    <th class="btn-warning text-white" style="color: white !important;">#</th>
                                                    <th class="btn-warning text-white" style="color: white !important;"><b>Frais</b></th>
                                                    <th class="btn-warning text-white" style="color: white !important;"><b>Montant</b></th>
                                                    <th class="btn-warning text-white" style="color: white !important;"><b>Solde</b></th>
                                                    <th class="btn-warning text-white" style="color: white !important;"><b>Echéance</b></th>
                                                    <!--th class="btn-warning text-white"><b>Année</b></th-->
                                                    <th class="btn-warning text-white" style="color: white !important;">Action</th>
                                                </tr>
                                                <tr
                                                    *ngFor="let balance of balanceFees | paginate: { itemsPerPage: 3, currentPage: p }; let i = index;">
                                                    <td class="text-center">
                                                        <input type="checkbox" class="mt-3"
                                                            [disabled]="balance.balance == 0"
                                                            (change)="selectBalanceRow($event, balance)"
                                                            style="width: 15px; height: 15px;">
                                                    </td>
                                                    <td title="Frais à payer"> {{balance.type_fees?.label}}
                                                        <b>{{balance.fees_label}}</b>
                                                    </td>
                                                    <td title="Montant du fais"> <b>{{balance.fees_amount |
                                                            currency:'XOF'}}</b> </td>
                                                    <td title="Montant restant à payer"> <b
                                                            class="text-danger">{{balance.balance |
                                                            currency:'XOF'}}</b> </td>
                                                    <td title="Date échéance pour le paiement"> <b>{{balance.due_date |
                                                            date:'dd/MM/yyyy'}}</b> </td>
                                                    <!--td title="Année academique"> {{balance.academic_year}} </td-->
                                                    <td class="text-center ">
                                                        <button type="button" class="btn btn-warning"
                                                            *ngIf="balance.balance > 0"
                                                            (click)="openPayementModal(student, balance, paiement)"><i
                                                                class="fa fa-wallet-o"></i>
                                                            <i class="fa fa-wallet"></i> <span> Payer</span></button>
                                                        <span class="text-success text-center"
                                                            *ngIf="balance.balance == 0"> Payé</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="pagination-style">
                                            <pagination-controls previousLabel="Précédent" nextLabel="Suivant"
                                                (pageChange)="p = $event;"></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end container-fluid -->

<!-- Formulaire de paiement-->
<ng-template #paiement role="document" let-modal>

    <div class="modal-header">
        <h4 class="modal-title mt-0">Paiement de Frais</h4>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body p-3">
        <form (ngSubmit)="processUniquePayment(paymentForm.value)" [formGroup]="paymentForm">
            <div class="row mb-4 mt-2">
                <h6>Paiement de <b class="text-secondary ">{{curr_fees.type_fees?.label}} - {{curr_fees.fees_label}},
                    </b>
                    pour <b class="text-secondary">{{curr_student.last_name}} {{curr_student.first_name}}</b></h6>
            </div>

            <div class="mb-2">
                <h5>Mode de paiement :</h5>
                <div class="row">
                    <div class="col-xl-3 col-sm-4" *ngFor="let operator of operators; let i=index;">
                        <label class="card-radio-label mb-3">
                            <input type="radio" id="{{i}}" required class="card-radio-input" formControlName="operator"
                                value="{{operator.id}}">
                            <div class="card-radio">
                                <i class="mdi mdi-currency-ils font-size-24 text-warning align-middle me-2"></i>
                                <span>{{operator.name}} {{operator.country.name}}</span>
                            </div>
                        </label>
                    </div>

                </div>
            </div>

            <app-my-own-loader *ngIf="isProcessing"></app-my-own-loader>

            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="fees_amount" class="form-label">Montant total</label>
                        <input type="number" class="form-control" id="fees_amount"
                            style="background-color: rgba(217, 215, 215, 0.506);" formControlName="fees_amount" readonly
                            required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="balance" class="form-label">Reste à payer</label>
                        <input type="number" class="form-control" id="balance" formControlName="balance" readonly
                            required style="background-color: rgba(217, 215, 215, 0.506);">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="amount" class="form-label">Montant à payer <i class="text-danger">*</i></label>
                        <input type="number" class="form-control" id="amount" formControlName="amount" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="phone" class="form-label">Téléphone <i class="text-danger">*</i></label>
                        <input type="number" class="form-control" formControlName="phone" required id="phone"
                            maxlength="20">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email <i class="text-danger">*</i></label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="details" class="form-label">Comentaires</label>
                <textarea class="form-control" id="details" formControlName="details" rows="2"></textarea>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-warning m-2" [disabled]="!paymentForm.valid || isProcessing"><i
                        class="fa fa-check"></i> Payer le frais</button>
                <a class="btn btn-soft-secondary m-2" (click)="closeModal();"><i class="fa fa-close"></i> Fermer</a>
            </div>
        </form>
    </div>
</ng-template>

<!-- Formulaire de paiement par Lot -->
<ng-template #multiplePaiement role="document" let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0">Paiement des Frais en Lot</h4>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body p-3">
        <form (ngSubmit)="processBatchPayment(batchPaymentForm.value)" [formGroup]="batchPaymentForm">
            <div class="row mb-4 mt-2">
                <h6>Paiement de lot de frais pour <b class="text-warning">{{curr_student.last_name}}
                        {{curr_student.first_name}}</b></h6>
            </div>
            <div class="mb-2">
                <label>Mode de paiement :</label>
                <div class="row">
                    <div class="col-xl-3 col-sm-4" *ngFor="let operator of operators; let i=index;">
                        <label class="card-radio-label mb-3">
                            <input type="radio" id="{{i}}" style="cursor: pointer !important;" required
                                class="card-radio-input" formControlName="operator" value="{{operator.id}}">
                            <div class="card-radio" style="cursor: pointer !important;">
                                <i class="mdi mdi-currency-ils font-size-24 text-warning align-middle me-2"></i>
                                <span>{{operator.name}} {{operator.country.name}}</span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <app-my-own-loader *ngIf="isProcessing"></app-my-own-loader>

            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="fees_amount" class="form-label">Montant total</label>
                        <input type="number" class="form-control" id="fees_amount"
                            style="background-color: rgba(217, 215, 215, 0.506);" formControlName="fees_amount" readonly
                            required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="balance" class="form-label">Reste à payer</label>
                        <input type="number" class="form-control" id="balance" formControlName="balance" readonly
                            required style="background-color: rgba(217, 215, 215, 0.506);">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="amount" class="form-label">Montant à payer <i class="text-danger">*</i></label>
                        <input type="number" class="form-control" id="amount" formControlName="amount" required
                            readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="phone" class="form-label">Téléphone <i class="text-danger">*</i></label>
                        <input type="number" class="form-control" formControlName="phone" required id="phone"
                            maxlength="20">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email <i class="text-danger">*</i></label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="details" class="form-label">Comentaires</label>
                <textarea class="form-control" id="details" formControlName="details" rows="2"></textarea>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-warning" [disabled]="!batchPaymentForm.valid || isProcessing"><i
                        class="fa fa-check"></i> Payer le lot de frais</button>
                <a class="btn btn-soft-secondary m-2" (click)="closeModal();"><i class="fa fa-close"></i> Fermer</a>
            </div>
        </form>
    </div>
</ng-template>