.bg-primary-subtle{
    color: #2353A7 !important;
    background-color: #2353A7 !important;
}

button{
    height: 45px !important;
    font-size: large !important;
    font-weight: bolder !important;
}

.input{
    height: 40px !important;
    font-size: larger !important;
    font-weight: lighter !important;
}

label{
    font-size: larger !important;
}