<div class="container-fluid">

    <!-- start page title -->
    <!-- <app-page-title title="AJOUT DE CLASSE ET FRAIS" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <form [formGroup]="schoolClasseForm" (ngSubmit)="addSchoolClasse()">
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        <h6 style="color: black;">Classe <span
                                                class="required_color">*</span></h6>
                                                <select class="form-select mb-2" formControlName="classe_id" id="classe_id">
                                                    <option disabled value="" selected>Selectionnez</option>
                                                    <option *ngFor="let classe of classes" value="{{ classe?.id }}">{{
                                                        classe?.code
                                                        }} - {{
                                                        classe?.label }}</option>
                                                </select>
                                        <div
                                            *ngIf="schoolClasseForm.get('classe_id')?.touched && schoolClasseForm.get('classe_id').hasError('required')">
                                            <span class="required_color">Sélectionner la classe à ajouter.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" formControlName="academic_year">
                            <div class="row mt-3" *ngIf="schoolClasseForm.value.classe_id">
                                <div class="col-md-4">
                                    <h6 style="color: black;" class="mt-2">Frais à ajouter<span class="required_color">*</span></h6>
                                    <select class="form-select mb-2" formControlName="type_fees_id"
                                        id="type_fees_id"
                                        [ngClass]="{'is-invalid' : schoolClasseForm.get('type_fees_id')?.touched && !schoolClasseForm.get('type_fees_id')?.valid}">
                                        <option disabled value="">Selectionnez un frais
                                        </option>
                                        <option *ngFor="let typeFee of typeFees" value="{{ typeFee?.id }}">{{
                                            typeFee?.libelle }}
                                        </option>
                                    </select>
                                    <div
                                        *ngIf="schoolClasseForm.get('type_fees_id')?.touched && schoolClasseForm.get('type_fees_id').hasError('required')">
                                        <span class="required_color">Sélectionner le type de frais.</span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <h6 style="color: black;" class="mt-2">Montant total du frais<span class="required_color">*</span></h6>
                                    <input type="number" class="form-control mb-2" formControlName="amount_fees"
                                        placeholder="Montant"
                                        [ngClass]="{'is-invalid' : schoolClasseForm.get('amount_fees')?.touched && !schoolClasseForm.get('amount_fees')?.valid}">
                                    <div
                                    *ngIf="schoolClasseForm.get('amount_fees')?.touched && schoolClasseForm.get('amount_fees').hasError('required')">
                                    <span class="required_color">Entrer le montant.</span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <h6 style="color: black;" class="mt-2">Type de paiement<span class="required_color">*</span></h6>
                                    <select class="form-select mb-2" formControlName="type_payment" 
                                        id="type_payment" (change)="addFees()"
                                        [ngClass]="{'is-invalid' : schoolClasseForm.get('type_payment')?.touched && !schoolClasseForm.get('type_payment')?.valid}">
                                        <option disabled value="" selected>Selectionnez un type de paiement
                                        </option>
                                        <option *ngFor="let type_payment of typePayments" [ngValue]="type_payment">{{ type_payment?.label }}</option>
                                    </select>
                                    <div
                                        *ngIf="schoolClasseForm.get('type_payment')?.touched && schoolClasseForm.get('type_payment').hasError('required')">
                                        <span class="required_color">Sélectionner le type de frais.</span>
                                    </div>
                                </div>

                                <!--div class="col-md-2">
                                    <div class="mt-2 mt-md-0 d-grid">
                                        <input type="button" class="btn btn-danger inner" value="Supprimer"
                                            (click)="deleteFee(i)" />
                                    </div>
                                </div-->
                            </div>
                            
                            <ng-container formArrayName="fees" *ngFor="let fee of feesList.controls; let i = index">
                                <div class="row mt-2 pt-2 bg-light rounded" [formGroupName]="i">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" formControlName="label"
                                            placeholder="Libellé"
                                            [ngClass]="{'is-invalid' : feesList.controls[i].get('label')?.touched && !feesList.controls[i].get('label')?.valid}" />
                                        <div
                                            *ngIf="feesList.controls[i].get('label')?.touched && feesList.controls[i].get('label').hasError('required')">
                                            <span class="required_color">Entrer le libellé.</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <input type="number" class="form-control mb-2" formControlName="due_amount"
                                            placeholder="Montant"
                                            [ngClass]="{'is-invalid' : feesList.controls[i].get('due_amount')?.touched && !feesList.controls[i].get('due_amount')?.valid}" />
                                        <div
                                            *ngIf="feesList.controls[i].get('due_amount')?.touched && feesList.controls[i].get('due_amount').hasError('required')">
                                            <span class="required_color">Entrer le montant.</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <input type="date" class="form-control mb-2" formControlName="due_date"
                                            placeholder="Date échéance"
                                            [ngClass]="{'is-invalid' : feesList.controls[i].get('due_date')?.touched && !feesList.controls[i].get('due_date')?.valid}" />
                                        <div
                                            *ngIf="feesList.controls[i].get('due_date')?.touched && feesList.controls[i].get('due_date').hasError('required')">
                                            <span class="required_color">Entrer l'échéance.</span>
                                        </div>
                                    </div>

                                    <!--div class="col-md-2">
                                        <div class="mt-2 mt-md-0 d-grid">
                                            <input type="button" class="btn btn-danger inner" value="Supprimer"
                                                (click)="deleteFee(i)" />
                                        </div>
                                    </div-->


                                </div>
                            </ng-container>

                        </div>
                        <!--div class="row">
                            <div class="col-lg-10">
                                <input data-repeater-create type="button" class="btn btn-success inner"
                                    value="Ajouter frais" (click)="addFee()" />
                            </div>
                        </div-->

                        <div class="col-lg-12">
                            <div class="text-end mt-2 mb-2">
                                <button type="submit" [disabled]="!schoolClasseForm.valid || isProcessing"
                                    class="btn btn-primary">Enregistrer classe</button>
                                <!--button type="submit"
                                    class="btn btn-primary">Enregistrer classe</button-->
                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div> <!-- container-fluid -->