<div class="vertical-menu">
  <ngx-simplebar class="h-100" #componentRef>
    <div>
      <div id="sidebar-menu">
        <ul class="metismenu list-unstyled" #sideMenu>
          <ng-container *ngFor="let item of menuItems">
            
            <!-- Menu title -->
            <li class="menu-title" *ngIf="item.isTitle">
              {{ item.label | translate }}
            </li>

            <!-- Menu item -->
            <li *ngIf="!item.isTitle && !item.isLayout">

              <!-- Parent menu -->
              <a *ngIf="hasItems(item)"
                 href="javascript:void(0);"
                 class="is-parent"
                 [ngClass]="{'has-arrow': true, 'mm-active': item.isOpen}"
                 (click)="toggleMenu(item)">
                <i class="bx {{ item.icon }}" *ngIf="item.icon"></i>
                <span>{{ item.label | translate }}</span>
              </a>

              <!-- Single link -->
              <a *ngIf="!hasItems(item)"
                 [routerLink]="item.link"
                 routerLinkActive="active"
                 class="side-nav-link-ref">
                <i class="bx {{ item.icon }}" *ngIf="item.icon"></i>
                <span>{{ item.label | translate }}</span>
              </a>

              <!-- Submenu -->
              <ul *ngIf="hasItems(item)"
                  class="sub-menu"
                  [ngClass]="{'mm-show': item.isOpen}">
                <li *ngFor="let subitem of item.subItems">

                  <!-- Sub-item link -->
                  <a *ngIf="!hasItems(subitem)"
                     [routerLink]="subitem.link"
                     routerLinkActive="active"
                     class="side-nav-link-ref">
                    {{ subitem.label | translate }}
                  </a>

                  <!-- Sub-item parent -->
                  <a *ngIf="hasItems(subitem)"
                     href="javascript:void(0);"
                     class="has-arrow"
                     [ngClass]="{'mm-active': subitem.isOpen}"
                     (click)="toggleMenu(subitem)">
                    {{ subitem.label | translate }}
                  </a>

                  <!-- Nested sub-menu -->
                  <ul *ngIf="hasItems(subitem)"
                      class="sub-menu"
                      [ngClass]="{'mm-show': subitem.isOpen}">
                    <li *ngFor="let subSubitem of subitem.subItems">
                      <a [routerLink]="subSubitem.link"
                         routerLinkActive="active"
                         class="side-nav-link-ref">
                        {{ subSubitem.label | translate }}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </ngx-simplebar>
</div>
