<div class="container-fluid">
    <app-page-title title="PARAMETRES SYSTEME" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div class="d-inline-block">
                                <div class="position-relative">
                                    <!-- <a *ngIf="!isSearchForm" class="btn btn-primary" id="addProject-btn"
                                        (click)="displaySearchForm(true);"><i class="fa fa-search me-1"></i> Rechercher
                                    </a> -->
                                    <a *ngIf="isSearchForm" class="btn btn-danger" id="addProject-btn"
                                        (click)="displaySearchForm(false);"><i class="fa fa-times me-1"></i> Fermer
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <div>
                                <!-- <a class="btn btn-info" (click)="generatePDF()"><i class="fa fa-file-pdf me-1"></i> PDF
                                </a> -->
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-auto">
                            <div class="text-sm-end">
                                <a class="btn btn-success" (click)="openViewModal(paramsModal)" id=""><i
                                        class="fa fa-plus me-1"></i> Nouveau
                                </a>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <!-- <div *ngIf="isSearchForm" class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Recherche avancée</h5>

                                <form class="row gy-2 gx-3 align-items-center">
                                    <div class="col-sm-2">
                                        <label class="visually-hidden" for="autoSizingSelect">Frais</label>
                                        <select class="form-select" id="autoSizingSelect">
                                            <option selected>Frais</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label class="visually-hidden" for="autoSizingSelect">Classe</label>
                                        <select class="form-select" id="autoSizingSelect">
                                            <option selected>Classe</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="visually-hidden" for="autoSizingSelect">Apprenant</label>
                                        <select class="form-select" id="autoSizingSelect">
                                            <option selected>Apprenant</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1" style="margin-top: -2%;">
                                        <button type="button" class="btn btn-primary">
                                            <i class="bx bx-search-alt-2 font-size-16 align-middle me-2"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                           
                        </div>
                        
                    </div> -->

                    <div>
                        <app-my-own-loader *ngIf="isProcessing"></app-my-own-loader>
                        <div class="table-responsive">
                            <table ngxUiLoaderBlurred [loaderId]="'loader-spin'"
                                class="table table-striped align-middle table-nowrap dt-responsive nowrap w-100 table-borderless"
                                id="projectList-table">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Paramètre</th>
                                        <th scope="col">Valeur</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Statut</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="isProcessing" class="text-center">
                                        <td colspan="10">Chargement en cours. Veuillez patienter !!!</td>
                                    </tr>
                                    <tr *ngIf="params?.length == 0" class="text-center">
                                        <td colspan="10">Aucune donnée trouvée !</td>
                                    </tr>
                                    <ng-container *ngIf="!isProcessing">
                                        <tr
                                            *ngFor="let param of params | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                                            <td>{{i+1}}</td>
                                            <td class="text-uppercase">{{param.label}}</td>
                                            <td>
                                                <span *ngIf="param.label.includes('rate')">{{param.value*100}}%</span>
                                                <span *ngIf="!param.label.includes('rate')">{{param.value}}</span>
                                            </td>
                                            <td>{{param.description}}</td>
                                            <td>
                                                <span class="badge {{(param.status == 1) ? 'bg-success' : 'bg-danger'}}">{{(param.status == 1) ? 'Actif' : 'Inactif'}}</span>

                                            </td>
                                             <td class="text-center">
                                                <div class="dropdown" dropdown placement="bottom-right">
                                                    <a href="javascript: void(0);" class="dropdown-toggle card-drop"
                                                        dropdownToggle>
                                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                                                        <a class="dropdown-item" href="javascript: void(0);" (click)="ConfirmDeleteModal(StaticDeleteModal, param)"><i class="{{param.status ? 'mdi mdi-lock-remove-outline' : 'mdi mdi-playlist-edit'}} font-size-7 {{param.status ? 'text-danger' : 'text-success'}} align-middle me-2"></i> {{param?.status ?
                                                            'Désactiver' : 'Activer'}}</a>
                                                        <a class="dropdown-item" href="javascript: void(0);" (click)="update(paramsModal, param)"><i class="mdi mdi-pencil font-size-7 text-warning align-middle me-2"></i> Modifier</a>
                                                    </div>
                                                </div>
                                            </td>                                          
                           
                                         
                                        </tr>
                                    </ng-container>
                                </tbody>

                            </table>
                            <div class="pagination-style">
                                <pagination-controls previousLabel="Précédent" nextLabel="Suivant"
                                    (pageChange)="p = $event"></pagination-controls>

                            </div>
                            <ngx-ui-loader overlayColor="#ECF0F1"
                                [bgsOpacity]="3" [fgsType]="'rectangle-bounce'"
                                [loaderId]="'loader-spin'"></ngx-ui-loader>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
            <!-- end row -->
        </div>
    </div>

</div>

<!--Start Params Modal -->
<ng-template #paramsModal role="document" let-modal>
    <div class="modal-header">
        <div *ngIf="isProcessing" class="position-relative spinner-border text-primary m-1 pull-right">
            <span class="sr-only pull-right">Loading...</span>
        </div>
        <h5 class="modal-title" id="addOpertaorForm">{{labelFormTitle}}</h5>
        <button type="button" class="btn-close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <form (ngSubmit)="create()" [formGroup]="paramsForm">
        <div class="modal-body">
            <div class="mb-2">
                <label for="label" class="form-label">Code <span class="required_color">*</span></label>
                <input type="text" id="label" class="form-control text-uppercase" formControlName="label" placeholder="Ex : TAUX_INTERRET"
                    [ngClass]="{ 'is-invalid': paramsForm.get('label')?.touched && !paramsForm.get('label')?.valid }" />
                <div class="space-between-validator"
                    *ngIf="paramsForm.get('label')?.touched && paramsForm.get('label').hasError('required')">
                    <span class="required_color">Entrer le code du paramètre.</span>
                </div>
                <div class="space-between-validator"
                    *ngIf="paramsForm.get('label')?.touched && paramsForm.get('label').hasError('maxlength')">
                    <span class="required_color">Le nom du paramètre ne doit pas dépasser 60 caractères.</span>
                </div>
            </div>
            <div class="mb-2">
                <label for="value" class="form-label">Valeur <span class="required_color">*</span></label>
                <input type="text" id="value" class="form-control" formControlName="value" placeholder="Ex : 0.25"
                    [ngClass]="{ 'is-invalid': paramsForm.get('value')?.touched && !paramsForm.get('value')?.valid }" />
                <div class="space-between-validator"
                    *ngIf="paramsForm.get('value')?.touched && paramsForm.get('value').hasError('required')">
                    <span class="required_color">Entrez la valeur du paramètre.</span>
                </div>
                <div class="space-between-validator"
                    *ngIf="paramsForm.get('value')?.touched && paramsForm.get('value').hasError('maxlength')">
                    <span class="required_color">La valeur du paramètre ne doit pas dépasser 80 caractères.</span>
                </div>
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">Description <span class="required_color">*</span></label>
                <input type="text" id="description" class="form-control" formControlName="description" placeholder="Ex : Taux d'intérêt"
                    [ngClass]="{ 'is-invalid': paramsForm.get('description')?.touched && !paramsForm.get('description')?.valid }" />
                <div class="space-between-validator"
                    *ngIf="paramsForm.get('description')?.touched && paramsForm.get('description').hasError('required')">
                    <span class="required_color">Entrez la description du paramètre.</span>
                </div>
                <div class="space-between-validator"
                    *ngIf="paramsForm.get('description')?.touched && paramsForm.get('description').hasError('maxlength')">
                    <span class="required_color">La description du paramètre ne doit pas dépasser 180 caractères.</span>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="closeModal()">Fermer</button>
                <button type="submit" class="btn btn-success" id="add-btn"
                    [disabled]="!paramsForm.valid || isProcessing">{{btnFormTitle}}</button>
            </div>
        </div>
    </form>
</ng-template>
<!--End Modal -->